a.btn.btn-sm.btn-primary.ml-3.bshadow( href='/rpss/rps', 
                                       onMouseUp='this.blur();' ) 
    | #[strong Todos RPS]

a.btn.btn-sm.btn-primary.ml-3.bshadow( href='/rpss/rps/create', 
                                       onMouseUp='this.blur();' ) 
    | #[strong Novo RPS]
    
a.btn.btn-sm.btn-primary.ml-3.bshadow( href='/rpss', 
                                       onMouseUp='this.blur();' ) 
    | #[strong Home RPS]

hr
