footer.bg-dark.pt-2.bshadow-ftr
    p.text-center.text-white Copyright 2021 -
      a.t-shadow-black( href="http://sites.google.com/view/nservicos" target='_blanck') - #[strong.text-primary N]Serviços© -
      a.t-shadow-black( href="mailto:projetocelo@gmail.com" ) - projetocelo@gmail.com - 
      a.t-shadow-black( href="/creator" ) - Created by Nei
