div.modal.fade#loginModal( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#loginModalLabel #[strong Login]
            div.modal-body
                form( method='post', action='' )
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input(type='hidden', name='path', value=path )
                    table.table.table-sm
                        tr
                        td
                            input#user_name.form-control(type='text', placeholder='Nome', name='username', required='true', autofocus )
                        tr
                        td
                            input#password.form-control(type='password', placeholder='Senha', required='true', name='password' )
                    button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
                    button.btn.btn-primary.btn-sm.ml-3.bshadow( type="submit" ) Entrar
                hr
            div.align-items-center.text-center
                p.text-secondary Ou 
                a.btn.btn-primary.bt-sm.bshadow.mt-3.mb-5( type="button" href="/users/userloging" )
                    img(src="/images/logo-google.png" width="32") 
                    |  Entre com uma conta Google
