div.modal.fade#loginModal( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#loginModalLabel #[strong Login]
            div.modal-body
                form( method='post', action='' )
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input(type='hidden', name='path', value=path )
                    table.table.table-sm
                        tr
                        td
                            input#user_name.form-control(type='text', placeholder='Nome', name='username', required='true', autofocus )
                        tr
                        td
                            input#password.form-control(type='password', placeholder='Senha', required='true', name='password' )
                    button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
                    button.btn.btn-primary.btn-sm.ml-3.bshadow( type="submit" ) Entrar 
