extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Acessar o sistema 
    p O acesso só é feito por usuários previamente cadastrados.
    br
    h5 Login de usuário 
    ol 
        li Clique no botão "Login" no topo da página a direita;
            br
            br
            img(src="/images/login_usuario.png", alt="Login de usuario", width="400")
            br
            br
        li Um modal com o formulário de logim será exibido para digitar o nome e a senha;
            br
            br
            img(src="/images/login_usuario1.png", alt="Login de usuario", width="400")
            br
            br
            ol(start="2")
                li 1. Também é possível fazer login com uma conta Google;
                    br
                    br
                    img(src="/images/login_usuario1-1.png", alt="Login de usuario", width="400")
                    br
                    br
        li Para sair do sistema, clique no botão "Logout" no topo da página a direita;
            br
            br
            img(src="/images/login_usuario2.png", alt="Login de usuario", width="400")
            br
            br