extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Recursos de usuários 
    p Os métodos de registro e recuperação de dados de usuários segue o mesmo padrão de orçamentos.
    p Apenas utilizadores com privilégios totais podem acessar dados de usuários.
    br
    h5 Métodos de usuários 
    p Para criar, alterar ou apagar dados de utilizadores;
    i (Até esta edição deste manual, só é possível pesquisar a lista completa de utilizadores ou, os dados individuais)
    br
    br
    ol 
        li Menu superior da página de usuários. Possui dois botões: "Lista de usuários" e "Novo usuário";
            br
            br
            img(src="/images/lista_usuarios.png", alt="Lista de usuários", width="400")
            br
            br
        li Na página de detalhe de usuário, na parte inferior estão os botões de ações;
            br
            br
            img(src="/images/lista_usuarios1.png", alt="Detalhe de usuário", width="400")
            br
            br