extends site_manual 

block content-index-manual

    hr
    h4 #{title_manual}

    br
    h5 Novo orçamento 
    p É preciso ter feito logim e ter os privilégios necessários para criar orçamentos.
    br
    h5 Criando um novo orçamento
    ol 
        li No menu lateral selecione a página de orçamentos;
            br
            br
            img(src="/images/novo_orcamento.png", alt="Pagina de orçamentos", width="200")
            br
            br
        li No menu superior da página de orçamentos selecione "Novo orçamento";
            br
            br
            img(src="/images/novo_orcamento1.png", alt="Novo orçamento", width="400")
            br
            br
        li Preencha o formulário de orçamentos como for necessário;
            br
            br
            img(src="/images/novo_orcamento2.png", alt="Formulario para novo orçamento", width="400")
            br
            br
        li Salve o orçamento clicando no botão salvar no final do formulário;
            br
            br
            img(src="/images/novo_orcamento3.png", alt="Salvando novo orçamento", width="400")
            br
            br