extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Formulário de contato
    p A intenção é possibilitar um meio de comunicação por e-mail, para que qualquer utilizador do sistema 
        | possa interagir com a administração. 
    p O formulário de contato tem um e-mail pré configurado para receber automaticamente
        | qualquer mensagem enviada por ele.
    br
    h5 Enviar E-mail
    p Para enviar uma mensagem: 
    ol 
        li Acesse o formulário de contato do sub-menu "ajuda";
            br
            br
            img(src="/images/lista_contato.png", alt="Lista de orçamentos", width="400")
            br
            br
        li Prencha o formulário #[i (Todos os campos são obrigatórios)] e, clique em "enviar";
            br
            br
            img(src="/images/lista_contato1.png", alt="Lista de orçamentos", width="400")
            br
            br