extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Nivelamento de acesso 
    p Até esta edição deste manual, o sitema possui dois níveis de acesso. 
    p O primeiro nível tem privilégio total para todas ações e o segundo possui 
        | restrição para ações críticas como exclusão ou alteração de dados.
    p Apenas utilizadores com privilégio total podem cadastrar novos utilizadores.
    br
    h5 Administrador 
    p Privilégio total.
    br
    h5 Não administrador 
    p Possui restrição para funcionalidades sensíveis do sistema.