extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Novo orçamento 
    p É preciso ter feito logim e ter os privilégios necessários para criar orçamentos.
    br