extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Editar orçamento 
    p É preciso ter feito login e ter os privilégios necessários para editar orçamentos. 
    br
    h5 Editando orçamento
    p Na página de detalhe de orçamento;
    ol 
        li No final da página clique em "Alterar"
            i (É preciso ter os privilégios necessários para alterar orçamentos); 
            br
            br
            img(src="/images/editar_orcamento.png", alt="Imagem editar orççamento", width="400")
            br
            br
        li O formulário é aberto com os dados do orçamento a ser editado;
        li Para salvar a edição o procedimento é o mesmo da criação de orçamento;
            br
            br
            img(src="/images/novo_orcamento3.png", alt="Salvando novo orçamento", width="400")
            br
            br
