extends site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h5 Sistema para gerenciamento de orçamentos e usuários

    p Este é um sistema para gerenciar orçamentos de serviços e produtos ou materiais utilizados
    | em função dos serviços prestados por quem o utilizar. Possui um sistema de login para os  
    | utilizadores e um gerenciamento de usuários. Os usuários são cadastrados com níveis de privilégios
    | para utilização das funcionalidades do sistema de acordo com seus níveis de acesso.

    br
    br
    h5 Funcionalidades 
    
    p É posível: 
    ul 
        li Cadastrar usuários;
        li Modiificar usuários;
        li Excluir usuários;
        li Cadastrar serviços;
        li Modificar serviços;
        li Excluir serviços;
        li Cadastrar material/produtos/ferramentas;
        li Modificar material/produtos/ferramentas;
        li Excluir material/produtos/ferramentas;
        li Consultar usuários, serviços e material/produtos/ferramentas;
        li Imprimir orçamentos;
        li Salvar orçamentos em PDF;
        li Enviar e-mail de contato;