div.modal.fade#searchModalDate( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#searchModalDateLabel #[strong Busca por data]
            div.modal-body
                form( role="form", method="get", action="/orcamentos/orcamentos" )
                    label.form-label(for="dia") Dia:
                    select.form-select.pt-1.pb-1#dia( name="dia", required="true" )
                        - var v = 0;
                        while v <= 31
                            option( value=an ) #{v++}
                    br
                    br
                    label.form-label(for="mes") Mês: 
                    select.form-select.pt-1.pb-1#mes( name="mes", required="true" )
                        option( value="01" ) Janeiro
                        option( value="02" ) Fevereiro
                        option( value="03" ) Março
                        option( value="04" ) Abril
                        option( value="05" ) Maio
                        option( value="06" ) Junho
                        option( value="07" ) Julho
                        option( value="08" ) Agosto
                        option( value="09" ) Setembro
                        option( value="10" ) Outubro
                        option( value="11" ) Novembro
                        option( value="12" ) Dezembro
                    br
                    br
                    label.form-label(for="ano") Ano: 
                    select.form-select.pt-1.pb-1#ano( name="ano", required="true" )
                        - var an = 2020;
                        while an <= 2021
                            option( value=an ) #{an++}
                    hr
                    div.form-check
                        input#data-lancamento.form-check-input( type="radio", name="modo", value="data", checked )
                        label.form-check-label(for="data-lancamento") Data de lançamento
                    div.form-check
                        input#ultima-atualizacao.form-check-input( type="radio", name="modo", value="ultima_atualizacao" )
                        label.form-check-label(for="ultima-atualizacao") Última atualização
                    hr
                    button.btn.btn-primary.btn-sm.ml-2.bshadow( type="submit" ) Buscar 
            div.modal-footer
                button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
