div.modal.fade#searchModalSit( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#searchModalSitLabel #[strong Busca por situação]
            div.modal-body
                form( role="form", method="get", action="/orcamentos/orcamentos" )
                    table.table.table-sm
                        tr
                        script.
                            $('#searchModalSit').on('shown.bs.modal', function (e) {
                            e.preventDefault();
                            $('#situacao').focus();
                            });
                            $('#searchModalSit').on('hidden.bs.modal', function (e) {
                            e.preventDefault();
                            $(this).removeData('bs.modal');
                            });
                        td
                            select.form-select.pt-1.pb-1#situacao( name="situacao", required="true" )
                                option( value="aberto" ) Aberto
                                option( value="fechado" ) Fechado
                                option( value="arquivado" ) Arquivado
                                option( value="devedor" ) Devedor
                    hr
                    button.btn.btn-primary.btn-sm.ml-2.bshadow( type="submit" ) Buscar 
            div.modal-footer
                button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
