div.modal.fade#searchModalDate( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#searchModalDateLabel #[strong Busca por data (mês)]
            div.modal-body
                form( role="form", method="get", action="/orcamentos/orcamentos" )
                    select.form-select.pt-1.pb-1#time( name="time", required="true" )
                        option( value="01" ) Janeiro
                        option( value="02" ) Fevereiro
                        option( value="03" ) Março
                        option( value="04" ) Abril
                        option( value="05" ) Maio
                        option( value="06" ) Junho
                        option( value="07" ) Julho
                        option( value="08" ) Agosto
                        option( value="09" ) Setembro
                        option( value="10" ) Outubro
                        option( value="11" ) Novembro
                        option( value="12" ) Dezembro
                    hr
                    div.form-check
                        input#data-lancamento.form-check-input( type="radio", name="modo", value="data", checked )
                        label.form-check-label(for="data-lancamento") Data de lançamento
                    div.form-check
                        input#ultima-atualizacao.form-check-input( type="radio", name="modo", value="ultima_atualizacao" )
                        label.form-check-label(for="ultima-atualizacao") Última atualização
                    hr
                    button.btn.btn-primary.btn-sm.ml-2.bshadow( type="submit" ) Buscar 
            div.modal-footer
                button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
