extends index

block content-index

    section#nav-manual.fixed-nav.bg-white.bshadow
        h3.bg-warning.pt-2.pb-2.pl-2 #[strong #{title}]
        nav.navbar
            h4.text-secondary Tópicos 
            ul.navbar-nav 
                li.nav-item 
                    a.nav-link(href="/manual/geral") Visão geral 
                li.nav-item 
                    a.nav-link(href="/manual/criando") Criando orçamento 
                li.nav-item 
                    a.nav-link(href="/manual/editando") Editando orçamento  
                li.nav-item 
                    a.nav-link(href="/manual/listando") Listando orçamentos
                li.nav-item 
                    a.nav-link(href="/manual/imprimindo") Imprimindo orçamento
                li.nav-item 
                    a.nav-link(href="/manual/apagando") Apagando orçamento 
                li.nav-item 
                    a.nav-link(href="/manual/usuarios") Sobre usuários 
                li.nav-item 
                    a.nav-link(href="/manual/logando") Fazendo login
                li.nav-item 
                    a.nav-link(href="/manual/niveis") Níveis de acesso 
                li.nav-item 
                    a.nav-link(href="/manual/contato") Contato

    section#content-manual.mb-5
        block content-index-manual

            h1.t-shadow-black #[strong.text-primary N] Serviços 

            h2.t-shadow-black Gerenciador de orçamentos 

            p.t-shadow-black.text-secondary V-1.2.1
            br
            br
            img(src="/images/orcamento.png", alt="Gráfico ilustrativo de orçamentos", width="600")
