
- if(loged && loged.status==='master'){
    a.btn.btn-sm.btn-primary.bshadow( href='/users' ) #[strong Lista de usuários]
    a.btn.btn-sm.btn-primary.bshadow.ml-3( href='/users/user/create' ) #[strong Novo usuário]
- }
hr