div.modal.fade#searchModalSit( role="dialog" )
    div.modal-dialog
        div.modal-content
            div.modal-header
                spam
                h4.modal-title#searchModalSitLabel #[strong Busca por situação]
            div.modal-body
                form( role="form", method="get", action="/orcamentos/orcamentos" )
                    div.form-check
                        input#aberto.form-check-input(type="radio", value="aberto", name="situacao" checked)
                        label.form-check-label(for="aberto") Aberto
                    div.form-check
                        input#fechado.form-check-input(type="radio", value="fechado", name="situacao")
                        label.form-check-label(for="fechado") Fechado
                    div.form-check                                
                        input#arquivado.form-check-input(type="radio", value="arquivado", name="situacao")
                        label.form-check-label(for="arquivado") Arquivado
                    div.form-check                                
                        input#devedor.form-check-input(type="radio", value="devedor", name="situacao")
                        label.form-check-label(for="devedor") Devedor
                    hr
                    button.btn.btn-primary.btn-sm.ml-2.bshadow( type="submit" ) Buscar 
            div.modal-footer
                button.btn.btn-secondary.btn-sm.bshadow( type="button", data-dismiss="modal" ) Cancelar
