#ctner-orc {
  background-color: blue;
  font-size: 1.5rem;
}
#ctner-rps {
  background-color: aqua;
  font-size: 0.5rem;
}
hr {
  border: 2px solid green;
}
.noprint {
  visibility: hidden !important;
}
h1, h2, h3, h4, h5, h6 {
  color: grey !important;
}
input {
  overflow: hidden;
  border: none;
  width: 100%;
}
#tbl_head_print {
  width: 70%;
}
textarea {
  font-size: 1rem;
  text-indent: 3rem;
  resize: none;
  overflow: hidden;
  width: 100%;
}
html table{
  font-size: 1rem;
}
button  {
  visibility: hidden !important;
}
