extends ../site/site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h5 Sistema para gerenciamento de orçamentos e usuários
    p Este é um sistema para gerenciar orçamentos de serviços e produtos ou materiais utilizados
    | em função dos serviços prestados por quem o utilizar. Possui um sistema de login para os  
    | utilizadores e um gerenciamento de usuários. Os usuários são cadastrados com níveis de privilégios
    | para utilização das funcionalidades do sistema de acordo com seus níveis de acesso.

    br
    br
    h5 Funcionalidades 
    p É posível: 
    ul 
        li Cadastrar usuários;
        li Modiificar usuários;
        li Excluir usuários;
        li Cadastrar serviços;
        li Modificar serviços;
        li Excluir serviços;
        li Cadastrar material/produtos/ferramentas;
        li Modificar material/produtos/ferramentas;
        li Excluir material/produtos/ferramentas;
        li Consultar usuários, serviços e material/produtos/ferramentas;
        li Imprimir orçamentos;
        li Salvar orçamentos em PDF;
        li Enviar e-mail de contato;
    br
    h5 Campos do formulário de orçamentos 
    p Dados do documento:
    ol 
        li Número do orçamento;
        li Data de criação;
        li Última atualização;
        li Situação;
    p Dados da empresa:
    ol 
        li Nome da empresa; 
        li Fone;
        li CNPJ;
    p Dados do cliente:
    ol 
        li Nome do cliente;
        li Fone;
        li E-mail;
        li Rua/Avenida;
        li Número;
        li Cidade;
    p Dados de serviços:
    ol 
        li Quantidade;
        li Descrição;
        li Valor unitário;
        li Valor total;
    p Dados de materiais | produtos | ferramentas:
    ol 
        li Quantidade;
        li Descrição;
        li Valor unitário;
        li Valor total;
    p
        i Uma das funcionalidades do sistema é o cálculo dos valores totais. 
        i Na medida que os números são digitados o sistema calcula as multiplicações e somas, e preenche os campos de valores totais.
    br
    p O formulário possui um campo de texto para inserir observações gerais.
    