extends ../site/site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Lista de todos orçamentos 
    p Até a versão atual do sistema, qualquer usuário pode ver a lista de orçamentos.
    br
    h5 Listando todos os orçamentos 
    p Ao acessar a página de orçamentos do menu lateral, já estará na tela a lista
    | com todos orçamentos.
    br 
    br
    h5 Ver detalhes de um orçamento 
    p Na página de orçamentos;
    br
    ol 
        li Clique no orçamento que deseja vizualizar;
            br
            br
            img(src="/images/lista_orcamento.png", alt="Lista de orçamentos", width="400")
            br
            br
        li O orçamentro estará disponível para consulta;
            br
            br
            img(src="/images/lista_orcamento1.png", alt="Viisualização de orçamento", width="500")
            br
            br

