extends ../site/site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Imprimir 
    p Até esta edição deste manual, qualquer usuário pode imprimir um orçamento.
    br
    h5 Imprimindo 
    p O orçamento será impresso através do diiálogo de impressão do navegador web.
    ol 
        li Com o orçamento aberto, clique em "Imprimir", no final da página;
            br
            br
            img(src="/images/imprimir_orcamento.png", alt="Impressão de orçamentos", width="400")
            br
            br
        li O diálogo de impressão do navegador será aberto;
            br
            br
            img(src="/images/imprimir_orcamento1.png", alt="Impressão de orçamentos", width="400")
            br
            i Diálogo de impressão do navegador web Firefox.
            br
            br
        li Escolha a forma de impressão e salve/imprima o arquivo;
            br
            br
            img(src="/images/imprimir_orcamento2.png", alt="Impressão de orçamentos", width="400")
            br
            br