extends ../site/site_manual 

block content-index-manual

    h3.bg-warning.pt-2.pb-2.pl-2 #{title_manual}
    hr

    br
    h4 Apagar orçamento 
    p É preciso ter feito logim e ter os privilégios necessários para apagar orçamentos.
    p Note que esta ação não tem recurso para ser desfeita. Uma vez apagado não é possível recuperar os dados.
    br
    h5 Apagando um orçamento 
    ol 
        li Com o orçamento aberto e com os privilégios necessários, clique em "Remover" no final da página;
            br
            br
            img(src="/images/remover_orcamento.png", alt="Removendo um orçamento", width="400")
            br
            br
        li Um modal de confirmação será exibido. Clique em "Remover" para apagar ou "Cancelar" para reverter a ação;
            br
            br
            img(src="/images/remover1_orcamento.png", alt="Removendo um orçamento", width="400")
            br
            br